body{
  background: #f5f5f5;
}
.g_container{
  position: absolute;
  top:2.4rem;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling:touch;
}
.job_info{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: .8rem .53rem;
  background-color: #fff;
  margin-bottom: .53rem;
}
.logo{
  -webkit-flex: 0 0 3.46rem;
  flex: 0 0 3.46rem;
  height: 3.46rem;
  border: 1px solid #e6e6e6;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-right: .53rem;
}
.logo img{
  max-width: 100%;
  max-height: 100%;
}
.job_cont{
  -webkit-flex: 1;
  flex: 1;
  overflow: hidden;
}
.job_name{
  font-size: .9rem;
  font-weight: 600;
}
.job_company{
  display: -webkit-flex;
  display: flex;
  padding: .2rem 0;
}
.company_name{
  font-size: .8rem;
  color:#666;
  margin-right: .3rem;
}
.company_state{
  -webkit-flex: 0 0 3.2rem;
  flex: 0 0 3.2rem;
  height: 1rem;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: .53rem;
  box-sizing: border-box;
  border:1px solid #50af5b;
  color:#50af5b;
}
.job_label{
  color:#666;
  font-size: .64rem;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.job_label i{
  font-size: .8rem;
  margin-right: .2rem;
}
.label_exp{
  margin: 0 1.5rem;
}
.label_money{
  color:#ff8955;
}
.right_arrow{
  -webkit-flex: 0 0 1rem;
  flex: 0 0 1rem;
  text-align: right;
}
.right_arrow i{
  margin-right: -.3rem;
  font-size: 1.2rem;
  color:#999;
}
/*state_img*/
.state_img img{
  width: 100%;
  vertical-align: top;
}
.delivery_info{
  background-color: #fff;
  margin-bottom: .53rem;
}
.state_msg{
  padding: 1rem .53rem;
  font-size: .8rem;
}
.interviewer_title{
  padding: 0 .53rem;
  font-size: .9rem;
}
.interviewer_time,.interviewer_address,.leave_msg{
  padding: .53rem;
  font-size: .8rem;
  color:#4c4c4c;
}
.interviewer_btn{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 .53rem 1.2rem;
  position: relative;
}
.interviewer_suc{
  -webkit-flex: 0 0 9.17rem;
  flex: 0 0 9.17rem;
  line-height: 2.13rem;
  background-color: #048adf;
  color:#fff;
  border-radius: .2rem;
  font-size: .9rem;
  text-align: center;
}
.interviewer_err{
  -webkit-flex: 0 0 9.17rem;
  flex: 0 0 9.17rem;
  line-height: 2.13rem;
  box-sizing: border-box;
  text-align: center;
  color:#4c4c4c;
  border: 1px solid #808080;
  border-radius: .2rem;
}
.interviewer_suc.block,.interviewer_err.block{
  -webkit-flex: 1;
  flex: 1;
  background-color: #999;
  color:#fff;
}
.interviewer_btn img{
  position: absolute;
  top: -.5rem;
  left: 50%;
  margin-left: -2.75rem;
  width: 5.5rem;
  display: none;
}
.interviewer_btn.is_overdue img{
  display: block;
}
.interviewer_btn.is_overdue span{
  background-color: #b3b3b3;
  border-color: #b3b3b3;
  color:#808080;
}
/*delivery_history*/
.delivery_history{
  background-color: #fff;
  padding: 0 .53rem 1rem;
}
.history_title{
  font-size: .9rem;
  line-height: 2.66rem;
}
.history_item{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  padding-left: .2rem;
}
.history_time{
  border-left: .1rem solid #048adf;
  font-size: .8rem;
  color:#4c4c4c;
  height: .8rem;
  line-height: .8rem;
  padding-left: .8rem;
  padding-bottom: 1rem;
}
.history_item:last-child .history_time{
  padding-bottom: 0;
}
.history_text{
  font-size: .8rem;
  height: .8rem;
  line-height: .8rem;
}
.history_item img{
  position: absolute;
  left: 0;
  top: .1rem;
  width: .5rem;
  height: .5rem;
}
.refuse_cont{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  display: none;
}
.refuse_cover{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.3);
}
.refuse_body{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 16rem;
  height: 10.6rem;
  background-color: #fff;
  border-radius: .5rem;
  margin: 8rem auto;
  box-sizing: border-box;
  padding: 1.38rem;
  overflow: hidden;
}
.refuse_text{
  height: 4.33rem;
  position: relative;
  border-radius: .3rem;
  overflow: hidden;
}
.refuse_text textarea{
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  color: #999;
  font-size: .8rem;
  border:0;
  outline: none;
  padding: .53rem .53rem 1rem;
  box-sizing: border-box;
}
.refuse_text span{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0 .53rem;
  height: 1rem;
  line-height: 1rem;
  text-align: right;
  background-color: #f0f0f0;
  font-size: .7rem;
  color:#999;
}
.refuse_btn{
  margin-top: 1.38rem;
  height: 2.13rem;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.refuse_btn span{
  -webkit-flex: 0 0 6.4rem;
  flex: 0 0 6.4rem;
  text-align: center;
  height: 2.13rem;
  line-height: 2.13rem;
  box-sizing: border-box;
  font-size: .8rem;
  border-radius: .3rem;
}
.refuse_err{
  border:1px solid #d9d9d9;
}
.refuse_suc{
  color: #fff;
  background-color: #048adf;
}