/*g_container*/
body{
  background-color: #f5f5f5;
}
.tab{
  height: 3.2rem;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
  padding: 0 .25rem;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  font-size: .9rem;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.tab_item{
  -webkit-flex: 0 0 20%;
  flex: 0 0 20%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: .2rem solid transparent;
}
.tab_item.is_active{
  color:#048adf;
  border-bottom-color: #048adf;
}
.g_container{
  position: absolute;
  top:5.6rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling:touch
}
/*job_item*/
.job_item{
  padding: .66rem 0;
  background-color: #fff;
  margin-bottom: .53rem;
}
.job_title{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding-left: .53rem;
  overflow: hidden;
  position: relative;
}
.title_txt{
  font-size: .9rem;
  font-weight: 600;
  margin-right: .5rem;
  padding-bottom: .4rem;
}
.job_state_bg{
  -webkit-flex: 0 0 4.8rem;
  flex: 0 0 4.8rem;
  height: 1.4rem;
  border-top-left-radius: .6rem;
  border-bottom-left-radius: .6rem;
  background-color: #bfe6fe;
}
.job_state{
  position: absolute;
  top: .2rem;
  right: 0;
  width: 4.8rem;
  height: 1.2rem;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color:#fff;
  font-size: .75rem;
  border-top-left-radius: .6rem;
  border-bottom-left-radius: .6rem;
  background-color: #048adf;
}
.job_label{
  color:#666;
  font-size: .64rem;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding: 0 .53rem;
}
.job_label i{
  font-size: .8rem;
  margin-right: .2rem;
}
.label_exp{
  margin: 0 1.5rem;
}
.label_money{
  color:#ff8955;
}
.job_company{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 .53rem;
}
.company_info{
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  margin-right: .5rem;
}
.company_logo{
  -webkit-flex: 0 0 1.33rem;
  flex: 0 0 1.33rem;
  height: 1.33rem;
  /*box-sizing: border-box;*/
  /*border-radius: 1px;*/
  /*border: 1px solid #e6e6e6;*/
}
.company_logo img{
  width: 100%;
  height: 100%;
}
.company_name{
  font-size: .8rem;
  color:#666;
  margin-left: .53rem;
  margin-right: .3rem;
}
.company_state{
  -webkit-flex: 0 0 3.2rem;
  flex: 0 0 3.2rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  font-size: .53rem;
  box-sizing: border-box;
  border:1px solid #50af5b;
  color:#50af5b;
}
.company_state i{
  font-size: .53rem;
}
.job_time{
  color:#808080;
  font-size: .64rem;
}
.no_data{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 3rem 0;
}
.no_data img{
  -webkit-flex: 1;
  flex: 1;
  width: 100%;
}