body{
    background-color: #f5f5f5;
}
.g_header{
    height: 2.4rem;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
    display: -webkit-flex;
    display: flex;
    padding: 0 .53rem;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
}
.head_job_name{
    -webkit-flex: 0 0 3.33rem;
    flex: 0 0 3.33rem;
    color:#048adf;
    font-size: .8rem;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
}
.head_job_name i{
    font-size: .48rem;
    margin-left: .25rem;
}
.head_ipt{
    -webkit-flex: 1;
    flex: 1;
    background-color: #e6e6e6;
    height: 1.6rem;
    border-radius: .8rem;
    display:  -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 .8rem;
}
.head_ipt i{
    -webkit-flex: 0 0 1.6rem;
    flex: 0 0 1.6rem;
    font-size: .85rem;
    text-align: right;
    color:#808080;
}
.head_ipt input{
    -webkit-flex: 1;
    flex: 1;
    width: 100%;
    height: 100%;
    border:0;
    outline: none;
    background-color: transparent;
    font-size: .64rem;
    margin-left: .3rem;
}
.head_my{
    -webkit-flex: 0 0 3.33rem;
    flex: 0 0 3.33rem;
    color:#fff;
    display:  -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.head_my span{
    width: 1.6rem;
    height: 1.6rem;
    background-color: #048adf;
    border-radius: 50%;
    display:  -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
}
.head_my i{
    font-size: 1.2rem;
    margin-bottom: -.25rem;
}
.head_job_cont{
    position: absolute;
    left: 1.4rem;
    top: 1.78rem;
    background-color: #333;
    color:#fff;
    padding: 0 .75rem;
    font-size: .8rem;
    box-sizing: border-box;
    width: 5rem;
    border-radius: .2rem;
    z-index: 1000;
    display: none;
}
.head_job_cont.is_show{
    display: block;
}
.head_job_cont i{
    position: absolute;
    top: -.32rem;
    left: .8rem;
    width: 0;
    height: 0;
    border-bottom: .32rem solid #333;
    border-left: .24rem solid transparent;
    border-right: .24rem solid transparent;
}
.head_job_item{
    height: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
}
.head_job_item.is_active{
    color:#048adf;
}
.head_job_item:last-child{
    border-bottom: 0;
}
/*g_container*/
.g_container{
    position: absolute;
    top:2.4rem;
    left: 0;
    right:0;
    bottom:0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
/*banner*/
.banner{
    height: 8rem;
}
.banner img{
    width: 100%;
    height: 100%;
}
/*job_item*/
.job_item{
    padding: .66rem .53rem;
    background-color: #fff;
    margin-bottom: .53rem;
}
.job_title{
    font-size: .9rem;
    font-weight: 600;
}
.job_label{
    color:#666;
    font-size: .64rem;
    -webkit-display: flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.job_label i{
    font-size: .8rem;
    margin-right: .2rem;
}
.label_exp{
    margin: 0 1.5rem;
}
.label_money{
    color:#ff8955;
}
.job_company{
    display:-webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.company_info{
    -webkit-flex:1;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
    margin-right: .5rem;
}
.company_logo{
    -webkit-flex: 0 0 1.33rem;
    flex: 0 0 1.33rem;
    height: 1.33rem;
    /*box-sizing: border-box;*/
    /*border-radius: 1px;*/
    /*border: 1px solid #e6e6e6;*/
}
.company_logo img{
    width: 100%;
    height: 100%;
}
.company_name{
    font-size: .8rem;
    color:#666;
    margin-left: .53rem;
    margin-right: .3rem;
}
.company_state{
    -webkit-flex: 0 0 3.2rem;
    flex: 0 0 3.2rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: .53rem;
    box-sizing: border-box;
    border:1px solid #50af5b;
    color:#50af5b;
}
.company_state i{
    font-size: .53rem;
}
.job_time{
    color:#808080;
    font-size: .64rem;
}
/*轮播*/
.banner .swiper-container {
    width: 100%;
    height: 100%;
}
.banner .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.no_data{
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fafafa;
    display:  -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 3rem 0;
}
.no_data img{
    flex: 1;
    width: 100%;
}
.job_list{
    -webkit-user-select: none; /* Disable selection/Copy of UIWebView */
    -webkit-tap-highlight-color:rgba(0,0,0,0);/* 透明度设置为0*/
}
.swiper-slide{height: auto;}
.init-loading{
    text-align: center;
    position: relative;
    display: block;
    height: 2.4rem;
    line-height: 2.4rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: .8rem;
    color:#048adf;
}